<!DOCTYPE html>
<html>
<head>
	<title>TinySearch</title>

	<style type="text/css">
		
		.in{

			border :2px solid black;
			background-color :#3CBC8D;
			text-align: center;
			display:block;


			margin: auto;
			width: 50%;
			border: 3px solid green;
			padding: 20pxpo;

		    vertical-align: middle;

		}

		.search{

			border :2px solid black;

			background-color :grey;

			text-align: center;

			display:block;

			margin: auto;
			width: 50%;
			border: 3px solid green;
			padding: 5px;

		    vertical-align: middle;


		}

	</style>
</head>
<body>

<form action="/">
	
	<input type="text" name="Search" placeholder="enter your query here" class =in required>
	<br>
	<input type="submit" name="Search" class =search>

</form>

</body>
</html>